<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Pooja C</h2>
      <h4>pooja.c@in.abb.com</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="No Image">
  </div>

  <mat-divider></mat-divider>
  <h3 matSubheader>Pages</h3>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/spline">Spline</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/page">Combination</a>
  <mat-divider></mat-divider>


</mat-nav-list>
