
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">
  <mat-card fxFlex="25">
   <app-card5 label="New Users" total="18k" percentage="50"></app-card5>
  </mat-card>
  <mat-card fxFlex="25">
    <app-card5 label="Users retention" total="10k" percentage="40"></app-card5>
  </mat-card>
  <mat-card fxFlex="25">
    <app-card5 label="Users engagement" total="8k" percentage="30"></app-card5>
  </mat-card>
  <mat-card fxFlex="25">
    <app-card5 label="Refferal" total="6k" percentage="20"></app-card5>
  </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br><br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">
  <mat-card fxFlex="30" style="height:760px">
    <app-accordion></app-accordion>
  </mat-card>
  <mat-card fxFlex="70" style="height:600px;"class="stats-cont">
    <div id="div-container" style="width: 90%;"></div>
  </mat-card>
 </div>
<br>
<mat-divider></mat-divider>
<br>
<div>
  <div>Table</div>
  <div>Pie Chart</div>
</div>
