h4{
  margin-left: 12px;
  font-weight: bolder;
  margin-top: 8px;
  margin-bottom: 15px;
}
.total{
  font-size: 3rem;
  margin-left: 15px;
}
.mat-icon,
.description{
  color: green;
  font-size: 2rem;
}

.mat-icon{
  position: relative;
  padding: 0 20px;
  top: 5px;
}
