<div>
  <app-spline-graphs></app-spline-graphs>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">
  <mat-card fxFlex="25">
    <app-widget-card></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-card2></app-card2>
  </mat-card>
  <mat-card fxFlex="25">
    <app-donutchart></app-donutchart>
  </mat-card>
  <mat-card fxFlex="25">
    <app-card3></app-card3>
  </mat-card>
</div>
<br>
<mat-divider></mat-divider>
